* {
  padding:0;
  margin:0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: arial, sans-serif;
  margin: 20px auto;
  text-align: center;
  max-width: 1200px
}
#big-picture {
    background-image: url("../img/big-cat.jpg");
    margin-top: -20px;
    background-repeat: no-repeat;
    height: 640px;
}