* {
  padding:0;
  margin:0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
li{
  list-style: none;
}
body {
  font-family: arial, sans-serif;
  margin: 20px auto;
  text-align: center;
  max-width: 1200px
}
header{
  max-width: 1200px;
  margin-top: -20px;
}

#header-cat {
  height: 100%;
  min-height: 200px;
  max-width: 100%;
}
#header-text {
  position: absolute;
  top: 50%;
  color: purple;
  right: 0;
  left: 0;
  font-size: 1.6em;
}

#about-me{
  height: 732px;
}
#about-me article {
  height: 33%;
  border-top: 1px solid black;
}
#about-me article p{
  width: 60%;
  float: left;
  padding: 15px;
  font-size: 1.3em;
}
.small-cat { width: 20%; }
.small-cat.left { float: left; }
.small-cat.right{ float: right; }
.small-cat.middle.right{margin-top: -35px; }

.small-cat.top{
	transition: 2s;
}
.small-cat.top:hover{
  -webkit-box-shadow:
		0 0 20px rgba(255,255,255,.6),
		inset 0 0 20px rgba(255,255,255,1);
	-moz-box-shadow:
		0 0 20px rgba(255,255,255,.6),
		inset 0 0 20px rgba(255,255,255,1);
	box-shadow:
		0 0 20px rgba(255,255,255,.6),
		inset 0 0 20px rgba(255,255,255,1);
	border-radius: 50%;
}

.small-cat.middle{
  transition: 2s;
}
.small-cat.middle:hover{
  -webkit-transform: rotateZ(360deg);
      -ms-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
}

.small-cat.bottom{
  transition: 2s;
}
.small-cat.bottom:hover{
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

#general-information{
  background-color: #66c5ff;
}
#hobbies{
  clear: both;
  background-color: #66c5ff;
}
#hiring{
  clear: both;
  background-color: #66c5ff;
}

.fa:not(.fa-caret-square-o-up){
  font-size: 3em;
}
.education{ width: 200px; }
.education.left { float: left; }
.education.right{ float: right; }

#form{
  float: left;
  width: 40%;
}
#social{
  float: left;
  width: 40%;
}

.fa.social{
  font-size: 4em;
  color: blue;
  margin: 50px;
}
.fa.social:hover{
  background-color: #f3eddf;
  transition: 1s;
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
}


#contact-me {
  height: 400px;
  background-color: #f1f1f1;
}
footer {
  clear: both;
}
