nav {
   display: none;
}

.small-cat {
    display: none;
}
#about-me article p {
    width: 100%;
}
.education {
    display: none;
}
#form {
    margin: 0 auto;
    text-align: center;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#social{
    margin: 0 auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.fa.social {
    font-size: 2.5em;
    margin: 10px;
}
.fa-caret-square-o-up {
    display: hidden;
}